<html>
  {{ partial "head" . }}
  <body>
    {{ partial "header" . }}

    <div class="menu-container menu-grid">
      {{ range .Pages }}
        <!-- menu element thumbnail -->
        <a class="thumbnail hover-gif" href="#">
          <img src="{{ .Params.thumbnail }}" alt="{{ .Title }}">
          <div class="thumbnail-caption">
            <h4>{{ .Title }}</h4>
          </div>
        </a>
      {{ end }}
      <!-- menu element thumbnail end -->
    </div>

    {{ partial "footer" . }}

    {{ partial "scripts" . }}
  </body>
</html>
