// modified bootstrap variables
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1320px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1260px
);

@import "../node_modules/bootstrap/scss/bootstrap";

// Browser Prefixes
@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

// styling of html tags
// links
a {
	color: $gray-500;
	transition: color .2s;

	&:hover {
		color: $body-color;
		text-decoration: none;
	}
}

// custom styling for the navbar
.navbar-custom {
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.navbar-brand {
	z-index: 2;
}

// styling the extendable navbar to be transparent and absolute
.menu-modal {
	.nav-item {
		font-size: 1.1rem;
		margin-left: 1rem;
	}

	@include media-breakpoint-down(sm) {
		display: none;
	  position: fixed;
	  z-index: 1;
	  padding-left: 16px;
	  padding-top: 80px;
		left: 0;
		top: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
		background-color: $white;
		background-color: rgba(255,255,255,0.9);

		.nav-item {
			padding-top: 1rem;
			font-size: 1.5rem;
		}
	}
}

// display nav menu (js)
.menu-modal.menu-active {
	display: block;
}

.navbar-toggler {
	z-index: 2;
}

// disable scrolling when nav menu is displayed (js)
body.menu-active {
	overflow: hidden;
  position: fixed;
}


// styling for the links
.active-page {
	color: $body-color;
	transition: color .2s;

	&:hover {
		color: $body-color;
	}
}

// menu styling for bootstrap container
.menu-container {

}

// menu styling for bootstrap row
.menu-row {
  padding: 0px;
}

// menu styling for bootstrap column
.menu-col {
  padding: 0px;
}

// div that contains image and text
.thumbnail {
    position: relative;
    display: inline-block;
    padding: 10px;
}

// div that contains text on the image
.thumbnail-caption {
    position: absolute;
    padding: 10px 20px 10px 10px;
    @include transform(translate( 0%, -100% ));
    text-align: left;

    // make caption visible on hover
    visibility: hidden;
    opacity: 0;
    // transition
    transition: opacity .1s, visibility .1s;

    h4 {
      display: inline;
      vertical-align: bottom;

			font-size: 1.5rem;

			@include media-breakpoint-down(lg) {
				font-size: 1.3rem;
			}

			@include media-breakpoint-down(md) {
				font-size: 1rem;
			}

			@include media-breakpoint-down(sm) {
				font-size: 1.7rem;
			}
    }
}

// make caption visible on hover
.thumbnail:hover .thumbnail-caption {
  visibility: visible;
  opacity: 1;
}

// footer styling
footer .container {

	ul {
		display: flex;
		justify-content: space-between;
		padding: 15px 15px 0 15px;

		list-style-type: none;

		li {
			color: $gray-500;
		}
	}
}
