@import "mixins";
@import "variables";

// general ---------------------------------------------------------------------
body {
  margin: 0px;

// font, font coloring & background coloring
  font-size: 100%;
  font-family: $font-family-sans-serif;
  background-color: map-get($theme-colors, "background");
}

h1, h2, h3, h4, h5, h6 {
  color: map-get($theme-colors, "headline-text");
}

p {
  color: map-get($theme-colors, "body-text");
}

a {
  text-decoration: none;
  color: map-get($theme-colors, "link");
  transition: color .3s;

  &:hover {
    color: map-get($theme-colors, "link-hover");
  }
}

a.active {
  color: map-get($theme-colors, "link-active");
}

// header ----------------------------------------------------------------------
//
// nav menu
header.menu-container {
  padding: 20px 30px 30px 30px;
  // less padding size on small screens
  @media only screen and (max-width: map-get($menu-grid-breakpoints, "sm")) {
    padding: 20px 30px 30px 20px;
  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  text-transform: uppercase;

  a {
    font-size: 2rem;
    z-index: 2;

    // make text bigger on small screen
    @media only screen and (max-width: map-get($menu-grid-breakpoints, "sm")) {
      font-size: 2.2rem;
    }
  }

  ul {
    li {
      display: inline-block;
      padding-left: 30px;

      a {
        font-size: 1.2rem;
      }
    }
    li:first-child {
      padding-left: 0px;
    }
    // make links dissapear on small screen
    @media only screen and (max-width: map-get($menu-grid-breakpoints, "sm")) {
      pointer-events: none;
      position: fixed;
      z-index: 1;
      padding-left: 10%;
      padding-top: 7rem;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $white;
      overflow: auto;
      opacity: 0;
      transition: opacity ease 1s;

      li {
        display: block;
        padding: 2rem 0rem;

        a {
          font-size: 1.8rem;
        }
      }
    }
  }
}

// make links reappear when .navbar-toggler is pressed (jquery)
.menu-modal.active {
  pointer-events: auto;
  opacity: .9;
}

// disable scrolling when nav menu is displayed (jquery)
body.menu-active {
	overflow: hidden;
}

.navbar-toggler {
  background-color: map-get($theme-colors, "background");
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2;

  // display only on small screen
  display: none;
  @media only screen and (max-width: map-get($menu-grid-breakpoints, "sm")) {
    display: inline-block;
  }
}

// main ------------------------------------------------------------------------
//
// single page -----------------------------------------------------------------
.container {
  margin: auto;
  background-color: map-get($theme-colors, "container");

  // large container size on large screens
  max-width: map-get($menu-container-max-widths, "lg");
  padding: 10px 300px;
  // medium container size on medium screens
  @media only screen and (max-width: map-get($menu-grid-breakpoints, "md")) {
    max-width: map-get($menu-container-max-widths, "md");
    padding: 10px 150px;
  }
  // small container size on small screens
  @media only screen and (max-width: map-get($menu-grid-breakpoints, "sm")) {
    max-width: map-get($menu-container-max-widths, "sm");
    padding: 10px 20px;
  }
}

// menu ------------------------------------------------------------------------
// container for the main menu (homepage)
.menu-container {
  margin: auto;
  background-color: map-get($theme-colors, "container");

  // large container size on large screens
  max-width: map-get($menu-container-max-widths, "lg");
  padding: 0px 10px;
  // medium container size on medium screens
  @media only screen and (max-width: map-get($menu-grid-breakpoints, "md")) {
    max-width: map-get($menu-container-max-widths, "md");
  }
  // small container size on small screens
  @media only screen and (max-width: map-get($menu-grid-breakpoints, "sm")) {
    max-width: map-get($menu-container-max-widths, "sm");
    padding: 0px;
  }
}

// grid options for the menu container
.menu-grid {
  display: grid;
  grid-template-rows: auto;

  // 3 columns on large screen
  grid-template-columns: 1fr 1fr 1fr;
  // 2 columns on medium screen
  @media only screen and (max-width: map-get($menu-grid-breakpoints, "md")) {
    grid-template-columns: 1fr 1fr;
  }
  // 1 column on small screen
  @media only screen and (max-width: map-get($menu-grid-breakpoints, "sm")) {
    grid-template-columns: 1fr;
  }
}

// the menu thumbnail
.thumbnail {
  position: relative;
  display: inline-block;

  padding: 10px;

  // no left & right padding for small screens
  @media only screen and (max-width: map-get($menu-grid-breakpoints, "sm")) {
    padding: 10px 0px;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

// the caption on the image in the menu thumbnail
.thumbnail-caption {
  position: absolute;
  padding: 10px 20px 10px 10px;
  @include transform(translate( 0%, -100% ));
  text-align: left;

  h4 {
    display: inline;
    vertical-align: bottom;

    font-size: 1.5rem;
    color: map-get($theme-colors, "thumbnail-text");
  }

// make caption visible on hover
  opacity: 0;
  transition: ease opacity .3s;
  // disable this on toucscreens
  @media (hover: none) {
    opacity: 1;
  }
}

.thumbnail:hover .thumbnail-caption {
  opacity: 1;
}

// footer ----------------------------------------------------------------------
footer ul {
  display: flex;
	justify-content: space-between;
  margin: 0px;
	padding: 15px 15px 0 15px;
  list-style-type: none;
}
